$color-base-white: #fff;
$color-base-black: #000;

$color-black: #010c13;

$color-gray-bg: #f4f7f8;
$color-gray: #a9a9a9;
$color-gray-hover: #d2d2d2;
$color-gray-text: #9aa7ad;
$color-gray-border: #9aa7ad;

$color-primary: #ca0100;
$color-primary-hover: #cf3232;

$color-blue-1: #00a8cd;
$color-blue-2: #047dbf;

