$font-regular: var(--font-tactic-sans);
$font-medium: var(--font-tactic-md);
$font-bold: var(--font-tactic-bold);
$font-black: var(--font-tactic-black);
$font-ultra: var(--font-tactic-ultra);

$font-roboto: var(--font-roboto-bold);

$font-size-standard: 62.5%;
$font-size-medium: calc($font-size-standard * 0.8);
$font-size-small: calc($font-size-standard * 0.5);

