:root {
  --font-size: 62.5%;
}

@media only screen and (max-width: 960px) {
  :root {
    --font-size: calc(62.5% * 0.8);
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --font-size: calc(62.5% * 0.5);
  }
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-tactic-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

