@import '@/styles/consts.scss';

.title {
  font-family: $font-ultra;
  margin: 0;

  &::first-letter {
    text-transform: capitalize;
  }
}

.level {
  &-1 {
    font-size: 4rem;
    letter-spacing: 0.03em;
    line-height: 5.6rem;
    margin-bottom: $x12;

    @media screen and (max-width: 960px) {
      margin-bottom: $x6;
    }
  }

  &-3 {
    font-family: $font-bold;
    font-size: 3.2rem;
    letter-spacing: 0.03em;
  }

  &-4 {
    font-family: $font-regular;
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: 0.02em;
  }
}

