@import '@/styles/consts.scss';

.header {
  background-color: $color-black;
  color: $color-base-white;
  font-size: 16px;
  letter-spacing: 0.05em;

  @media screen and (max-width: 500px) {
    font-size: 10px;
  }
}

.logo {
  width: 154px;
  height: 42px;

  @media screen and (max-width: 500px) {
    width: 111px;
    height: 30px;
  }
}

.wrapper {
  @extend .mainWrapper;
  display: flex;
  align-items: center;
  gap: $x4;
  padding: $x4 0;
}

.divider {
  width: 2px;
  height: 68px;
  background-color: $color-base-white;
}

